html, body{
    margin: 5px;
    background-color: black;

}
.nav-link{
    color:#B3B0B0;
}
.oggetti{
    padding: 5px;
    margin:0%;
    border: 2px solid white;
}
h4{margin-top: 10px;
    margin-bottom: 4px;
    color: white;
}

#contenitoreimg{
    padding: 3px;
}
.icona{
    margin:10px 10px 10px 0%;
    width: 25px;
    height: 100%;
    color: gray;
}
.contenitorefooter{
    margin: 5% 10% 5% 20%;
}
